<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- CSS only -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0932b7d8ec.js"
      crossorigin="anonymous"
    ></script>

    <title>Info</title>
  </head>
  <body>
    <div style="z-index: -2" class="w-screen h-screen p-10 bg-gray-200">
      <a
        href="/user/<%= info.id %>/dashboard"
        class="p-2 px-4 text-2xl bg-red-600 rounded-full shadow"
      >
        <i class="fas fa-arrow-left"></i>
        Back to Dashboard
      </a>

      <div class="my-8"></div>
      <div
        class="relative p-4 bg-yellow-400 border-b-8 border-r-8 border-gray-800 shadow-2xl rounded-3xl"
      >
        <div class="mt-6 mb-4 grid grid-cols-6">
          <img
            class="col-span-1 justify-self-center"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Emblem_of_India.svg/1200px-Emblem_of_India.svg.png"
            alt="Card image"
            style="width: 35%"
          />
          <div
            class="py-8 my-auto font-sans tracking-wide text-center text-yellow-400 align-middle bg-red-700 shadow-2xl text-8xl col-span-4 rounded-3xl"
          >
            Driver License
          </div>
          <img
            class="rounded-full col-span-1 justify-self-center"
            src="https://pbs.twimg.com/profile_images/1137634760879034369/BAJJJ13E_400x400.jpg"
            alt="Card image"
            style="width: 65%"
          />
        </div>
        <div class="mb-4 border-4 border-gray-800 rounded-full"></div>

        <div class="px-8 grid grid-rows-1 grid-cols-4">
          <div class="flex-col col-span-1 px-auto py-auto">
            <img
              class="rounded-3xl"
              src="https://insurance-b2c-assets.s3.ap-south-1.amazonaws.com/uploads/news/image/How%20to%20Get%20Duplicate%20RC%20Book%20Online%20%26%20Offline%20Process%20Explained.jpg"
              alt="Card image"
              width="90%"
            />
          </div>

          <div class="col-span-2">
            <div class="my-2 text-6xl font-light">
              DLN: DL10XXXXXX0<%= data.id %>
            </div>
            <div class="my-2 text-5xl font-medium">
              <%= data.fname %> <%= data.lname %>
            </div>

            <div class="gap-y-2 grid grid-rows-4 grid-cols-2">
              <div class="text-3xl">DOB: <%= data.date%></div>
              <div class="text-3xl">
                Type: <%= data.type %>Blood group <%= data.group%>
              </div>
              <div class="text-3xl">
                Sex: <%= data.bname %> <%= data.gender%>
              </div>
              <div class="text-3xl">Contact: <%= data.phone%></div>
              <div class="text-3xl">Address: <%= data.address%></div>
            </div>
          </div>

          <div class="flex flex-col col-span-1">
            <img
              class="self-end rounded-full"
              src="https://www.startupblog.com/wp-content/uploads/2017/05/signature-523237_960_720.jpg"
              alt="Card image"
              style="width: 50%"
            />
            <div class="self-end pr-8 font-sans text-2xl font-bold">
              Signature/thumb
            </div>
            <img
              class="self-end rounded-full"
              src="https://cdn2.vectorstock.com/i/1000x1000/81/76/sim-card-chip-isolated-on-white-background-vector-31138176.jpg"
              alt="Card image"
              style="width: 50%"
            />
          </div>
        </div>
        <!-- for footer -->
      </div>
      <!-- for button -->
    </div>
  </body>
</html>
/
