<% layout('layouts/boilerplate')%>
<div class="text-center display-3">All Admins</div>

<div class="jumbotron">
  <div class="row">
    <% for (let campground of campgrounds) {%>
    <div class="col-4">
      <div
        class="p-3 m-1 text-center border-4 shadow-lg card border-info rounded-3"
      >
        <img
          class="card-img-top shadow"
          src="https://picsum.photos/200"
          alt="Card image cap"
          style="border-radius: 100%"
        />

        <div class="card-body">
          <h1><%= campground.Name %></h1>
          <h5 class="card-title"><%= campground.Dob %></h5>
          <p class="card-text"><%= campground.Category %></p>
          <p class="card-text">
            <small class="text-muted"><%= campground.age %> </small>
          </p>
          <a
            href="/admin/home/<%= campground.id %>"
            class="shadow btn btn-info btn-lg rounded-pill"
          >
            View
            <p><%= campground.Name %></p>
          </a>
        </div>
      </div>
    </div>
    <% } %>
    <a
      href="/admin/home/new"
      class="p-2 mt-5 btn btn-outline-primary btn-block"
      style="font-size: 25px"
    >
      Add New Admin</a
    >
  </div>
</div>
