<% layout('layouts/boilerplateUser')%>
<div class="display-3 text-center my-4">Your RC's</div>

<div class="row">
  <% for (let info of infos) {%>
  <div class="col-4">
    <div
      class="p-3 m-1 text-center border-4 shadow-lg rounded-3 card border-info"
    >
      <img
        class="shadow card-img-top"
        src="https://picsum.photos/200"
        alt="Card image cap"
        style="border-radius: 100%"
      />

      <div class="card-body">
        <h1><%= info.fname %> <%= info.lname %></h1>
        <h5 class="card-title"><%= info.pdate %></h5>
        <p class="card-text"><%= info.mname %></p>
        <p class="card-text"><%= info.bl %></p>
        <p class="card-text">
          <small class="text-muted"><%= info.bphone %> </small>
        </p>
        <a
          href="/user/<%= info.c_id %>/dashboard/rc/<%= info.id %> /edit"
          class="shadow btn btn-info btn-lg rounded-pill"
        >
          Renew
        </a>
        <a
          href="/user/<%= info.c_id %>/dashboard/rc/display/<%= info.id %>"
          class="shadow btn btn-success btn-lg rounded-pill"
        >
          View
        </a>
      </div>
    </div>
  </div>
  <% } %>
</div>
