<% layout('layouts/boilerplate')%>
<div class="mb-5 text-center display-3">
  All Users Applied for Driving License
</div>

<div class="row">
  <% for (let campground of campgrounds) {%>
  <div class="col-4">
    <div
      class="p-3 m-1 text-center border-4 shadow-lg card border-info rounded-3"
    >
      <img
        class="shadow card-img-top"
        src="https://picsum.photos/200"
        alt="Card image cap"
        style="border-radius: 100%"
      />

      <div class="card-body">
        <h1><%= campground.fname %> <%= campground.lname %></h1>
        <h5 class="card-title"><%= campground.date %></h5>
        <p class="card-text"><%= campground.email %></p>
        <p class="card-text">
          <small class="text-muted"><%= campground.phone %> </small>
        </p>
        <a
          href="/admin/dl/<%= campground.id %>"
          class="shadow btn btn-info btn-lg rounded-pill"
        >
          View <%= campground.fname %> <%= campground.lname %>
        </a>
      </div>
    </div>
  </div>
  <% } %>
</div>
