<!DOCTYPE html>
<html lang="en">
  <head>
    <title>License Application</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">RTO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                                                                               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/user/<%= data.id %>/dashboard">Home</a>
            </li>
          </ul>
          </form>
        </div>
        <form action="/user/logout" method="POST">
          <button class="btn btn-outline-danger btn-lg" type="submit">
            Logout </button>
        </form>

      </div>
    </nav>
    <div class="container">
      <form name="myform" class="form-group" action="/user/<%= data.c_id %>/dashboard/dl/edit/<%= data.id %>?_method=PUT" method="POST" novalidate class="validatedForm">
        <!-- <h2 style="text-align: center; font-weight: bold; font-size: 35px">
          License Registration
        </h2> -->

        <div class="parent" style = "display: flex; justify-content: center; margin-top: 10px; margin-bottom: 10px;">
          <h2 class="badge badge-pill badge-dark" style = "font-size: 3.5rem">
            License Registration
          </h2>
        </div>

        <div class="row jumbotron">
          <div class="col-md-6">
            <label for="inputname">First name</label>
            <input type="text" class="form-control" placeholder="First name" 
            id="fname"
            name="dl[fname]"
            value="<%= data.fname %>"
            required/>
          </div>
          <div class="col-md-6">
            <label for="inputname">Last name</label>
            <input type="text" class="form-control" placeholder="Last name" 
            id="lname"
            name="dl[lname]"
            value="<%= data.lname %>"
            required/>
          </div>
          <div class="col-md-6" style="margin-top: 20px">
            <label for="email">Email</label>
            <span class="input-group-addon"
              ><i class="glyphicon glyphicon-user"></i
            ></span>
            <input
              type="email"
              class="form-control"
              placeholder="<%= data.email %>"
              id="email"
            name="dl[email]"
            value="<%= data.email %>"
            readonly
            required
            />
          </div>
          <div class="col-md-6" style="margin-top: 20px">
            <label for="pwd">Password</label>
            <span class="input-group-addon"
              ><i class="glyphicon glyphicon-lock"></i
            ></span>
            <input
              type="Password"
              class="form-control"
              placeholder="Password"
              id="password"
              name="dl[password]"
              value="<%= data.password %>"
              readonly
            />
          </div>
          <div class="col-md-12" style="margin-top: 30px">
            <label for="gender">Select your Gender :</label>
            <label class="checkbox-inline"
              ><input type="checkbox" value="Male"  id="gender"
              name="dl[gender]"/>Male</label
            >
            <label class="checkbox-inline"
              ><input type="checkbox" value="Female" id="gender"
              name="dl[gender]" />Female</label
            >
            <label class="checkbox-inline"
              ><input type="checkbox" value="Other" id="gender"
              name="dl[gender]"/>Other</label
            >
          </div>
          <div class="col-md-6" style="margin-top: 30px">
            <label for="DOB">Select your Date of Birth :</label>
            <input type="date"  id="date"
            name="dl[date]"
            value="<%= data.date %>"
            required />
          </div>
          <div class="col md-12">
            <label for="sel1">Select your Blood Group :</label>
            <select class="form-control" id="group"
            name="dl[group]"
            value="<%= data.group %>"
            required>
              <option>B+</option>
              <option>B-</option>
              <option>A+</option>
              <option>A-</option>
              <option>O+</option>
              <option>O-</option>
              <option>AB+</option>
              <option>AB-</option>
            </select>
          </div>
          <div class="col-md-6" style="margin-top: 20px">
            <label for="ph1">Contact number</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your contact no."
              id="phone"
              name="dl[phone]"
              value="<%= data.phone %>"
              required
            />
          </div>
          <div class="col-md-6" style="margin-top: 20px">
            <label for="ph2">Residential contact</label>
            <input
              type="text"
              class="form-control"
              placeholder="Landline / Alternate contact"
              id="contact"
              name="dl[contact]"
              value="<%= data.contact %>"
              required
            />
          </div>
          <div class="col-md-12" style="margin-top: 20px">
            <label for="address">Permanent Address</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your address here"
              id="address"
              name="dl[address]"
              value="<%= data.address %>"
              required
            />
          </div>
          <div class="col-md-5" style="margin-top: 20px">
            <label for="city">City</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your city name"
              id="city"
              name="dl[city]"
              value="<%= data.city %>"
              required
            />
          </div>
          <div class="col-md-5" style="margin-top: 20px">
            <label for="state">State</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your state name"
              id="state"
              name="dl[state]"
              value="<%= data.state %>"
              required
            />
          </div>
          <div class="col-md-2" style="margin-top: 20px">
            <label for="zipcode">Zip code</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your zip code"
              id="zip"
              name="dl[zip]"
              value="<%= data.zip %>"
              required
            />
          </div>

          <div class="col-md-12" style="text-align: center; margin-top: 20px">
            <button type="submit" class="btn btn-primary btn-block" style = "font-size: 25px">Renew</button>
          </div>
        </div>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>

  <%- include('../../partials/footer') %>
</html>


<style>
label {
  font-size: 18px;
  font-style: monospace;
}
</style>
